{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/form.css' %}">
        <title>DemiGuide | Aptitude</title>
    </head>

    <body>
        <script src="{% static 'js/form.js' %}"></script>

        {% for questions in batch %}
            <form action="submit/" method="post" id="form{{ forloop.counter }}">
                {% csrf_token %}
                {% for question in questions %}
                    <h2>{{ question }}</h2>
                    <div>
                        <input type="radio" name="likert{{ forloop.counter }}" required>
                        <input type="radio" name="likert{{ forloop.counter }}">
                        <input type="radio" name="likert{{ forloop.counter }}">
                        <input type="radio" name="likert{{ forloop.counter }}">
                    </div>
                {% endfor %}

                <!-- Check if first to display disabled back button -->
                {% if forloop.first %}
                    <button disabled>Back</button>
                {% else %}
                    <button type="button" onclick="prevForm('{{ forloop.counter }}')">Back</button>
                {% endif %}

                <!-- Check if last to display submit button -->
                {% if forloop.last %}
                    <button type="submit">Proceed</button>
                {% else %}
                    <button type="button" onclick="nextForm('{{ forloop.counter }}')">Next</button>
                {% endif %}
            </form>
        {% endfor %}
    </body>
</html>