{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/form.css' %}">
        <title>AcademiGuide</title>
    </head>

    <body>
        <script src="{% static 'js/form.js' %}"></script>

        <form action="submit/" method="post">
            {% for questions in batch %}
                <article id="form{{ forloop.counter }}">
                    {% csrf_token %}
                    {% for question in questions  %}
                        <h2>{{ question }}</h2>
                        <div style="display: flex;">
                            <label>Less Likely</label>
                            <input type="radio" value="1" name="likert{{ forloop.parentloop.counter }}{{ forloop.counter }}" required>
                            <input type="radio" value="2" name="likert{{ forloop.parentloop.counter }}{{ forloop.counter }}">
                            <input type="radio" value="3" name="likert{{ forloop.parentloop.counter }}{{ forloop.counter }}">
                            <input type="radio" value="4" name="likert{{ forloop.parentloop.counter }}{{ forloop.counter }}">
                            <input type="radio" value="5" name="likert{{ forloop.parentloop.counter }}{{ forloop.counter }}">
                            <label>Most Likely</label>
                        </div>
                    {% endfor %}

                    {% if forloop.first %}
                        <button type="button" disabled>Back</button>
                    {% else %}
                        <button type="button" onclick="prevForm('{{ forloop.counter }}')">Back</button>
                    {% endif %}

                    {% if forloop.last %}
                        <button type="button" disabled>Next</button>
                    {% else %}
                        <button type="button" onclick="nextForm('{{ forloop.counter }}')">Next</button>
                    {% endif %}
                </article>
            {% endfor %}
            <input type="submit" value="View Results">
        </form>
    </body>
</html>